In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("D:\drive\SENIOR\Capstone\Paychex\oneHotEncoded\merged.csv")

In [3]:
dataset.head()

,Activity01,Activity02,Activity03,Activity04,Activity05,Activity06,Activity07,Activity08,Activity09,Activity10,Activity11,Activity12,Activity13,Activity14,Activity15,Activity16,Pseudo_ClientID,Issue_YN
0,20,0,2,0,0,15,1,0,2,5,3,6,0,0,0,0,E32DBDC5-4BAD-40EB-AF78-E9A28B57FD3C,0
1,2,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,80B51112-9616-42BB-927B-244AC3FAB62E,0
2,84,6,54,0,0,0,41,7,313,507,2,6,0,0,22,0,185AF8FE-4370-44A1-9077-A32485A4E8A2,0
3,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,09F86717-8EE6-4BF0-B66F-9ECAA8B7DE4A,0
4,5,0,0,0,0,0,1,0,0,2,2,0,0,0,2,0,DB7B304F-82BC-46E6-8039-BEDFE13D123D,0